@import "../../../../styles/colors.scss";
@import "../../../../styles/mixins.scss";

.address {
  padding: 100px 0 40px 0;
  background: #fdfdfd;
  border: 1px solid $quaternary;
  text-align: center;
}

.address__wrapper {
  margin-bottom: 50px;
}

.form {
  font-family: "Lato Regular";
  font-size: 1.2rem;
}

.form__conteiner {
  width: 100%;
  max-width: 610px;
  padding: 0 15px;
  margin: 0 auto;
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  & label {
    margin-bottom: 10px;
    color: $secondary;
    text-align: start;
    text-transform: uppercase;

    & span {
      font-size: 1rem;
      text-transform: lowercase;
    }
  }

  & input {
    padding: 1.2rem 0.8rem;
    border-radius: 0;
  }
}

.form__field_collective {
  display: flex;
  margin: 0 -10px;

  & .form__field {
    width: 50%;
    padding: 0 10px;
  }
}

.form__field_checkbox {
  display: flex;
  justify-content: space-around;
}

.form__field_custom_checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;

  & + label {
    display: inline-flex;
    align-items: center;
    color: $secondary;

    &::before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      border: 1px solid #c9c7c7;
      border-radius: 4px;
      margin-right: 5px;
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
  }

  &:checked + label::before {
    border-color: $hoverBlue;
    background-color: $hoverBlue;
    background-image: url("../../../../assets/svg_icons/checkmark.svg");
  }
}
