@import "../../../../../styles/colors.scss";

.popular_items {
  display: grid;
  grid-template: 1.5fr 0.5fr 1.5fr / repeat(4, 1fr);
  grid-gap: 30px;
}

.popular_item {
  position: relative;

  &:nth-of-type(1),
  &:nth-of-type(2),
  &:nth-of-type(3) {
    z-index: 2;
  }

  &:nth-of-type(3) {
    grid-column: 3 / -1;
    grid-row: 1 / 3;
    height: 700px;
    z-index: 10;
  }
  &:nth-of-type(4) {
    height: 700px;
    grid-column: 1 / 3;
    grid-row: 2 / -1;
  }

  &:nth-of-type(5) {
    grid-column: 3/ 4;
  }
}

.popular_item__wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
}

.popular_item__link {
  height: 100%;
  cursor: pointer;

  border-radius: 10px;
  background: $tertiary;

  transition: box-shadow 0.35s ease-in-out, max-height 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 0 30px $hoverBoxShadow;

    .popular_item__imgs {
      opacity: 1;
    }

    .popular_item__img::after {
      background: $hoverBoxShadow;
    }
  }
}

.popular_item__img {
  height: 100%;
  border-radius: 10px;
  background: #8a8686;
  overflow: hidden;

  position: relative;
  z-index: 1;

  &::after {
    content: "";
    width: 100%;
    height: 3px;

    background: transparent;
    transition: background-color 0.2s ease-in-out;

    position: absolute;
    bottom: 0;
  }
}

.popular_item__imgs {
  position: absolute;
  bottom: 10px;
  right: 10px;

  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.product_imgs {
  margin-bottom: 10px;
  width: 50px;
  height: 50px;

  cursor: pointer;
  background: #8a8686;
  border: 1px solid $boxShadow;

  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 0 15px $hoverBoxShadow;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.popular_item__price {
  font-size: 2.1rem;
  color: $secondary;

  position: absolute;
  top: 15px;
  left: 15px;
}

.popular_item__price_old {
  margin-right: 10px;
  text-decoration: line-through;
}
