@import "../../../../styles/colors.scss";
@import "../../../../styles/mixins.scss";

.news_letter {
  padding: 135px 0;
  text-align: center;

  @include border-bottom-decor-componnent;
}

.news_letter__title {
  margin-bottom: 10px;
  font-size: 3.6rem;
  font-weight: 700;

  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.news_letter__subtitle {
  margin-bottom: 50px;

  font-family: "Georgia Italic";
  font-size: 1.8rem;
  font-weight: normal;
  color: $secondary;
}

.news_letter__form_wrapper {
  display: flex;
  justify-content: space-around;
}

.news_letter__form {
  display: flex;
}

.news_letter__form_input {
  width: 470px;
  padding: 2rem 1rem;
  border-right: none;
  border-radius: 0;
}

.news_letter__form_button {
  color: $tertiary;
  background: $hoverBlue;
  border: 1px solid transparent;

  transition: text-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out,
    color 0.2s ease-in-out, border-color 0.2s ease-in-out;

  &:hover {
    text-shadow: 0 0 3px $secondary;
    background: rgba($color: $hoverBlue, $alpha: 0.7);
    color: $primary;
    border-color: $secondary;
  }
}
