@import "../../../../styles/colors.scss";

.login_page__modal {
  width: 100%;
  height: 100%;
  text-align: center;
  background: $quaternary;

  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}

.login_page__modal_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.login_page__logo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin-bottom: 50px;
  width: 90px;
  height: 90px;

  cursor: pointer;
  background: #e8e8e8;
  border: 1px solid $tertiary;

  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;

  & a {
    font-size: 30px;
    text-transform: uppercase;
    color: $tertiary;
  }

  &:hover {
    background: $hoverBlue;
    border-color: $hoverBlue;
  }
}

.login_page__sign_in {
  width: 100%;
  max-width: 500px;
  padding: 60px;
  background: $tertiary;
  box-shadow: 0px 0px 30px rgba($primary, 0.5);

  & form {
    margin-top: 20px;
  }
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  & label {
    margin-bottom: 10px;
    color: $secondary;
    text-align: start;
    text-transform: uppercase;

    & span {
      font-size: 1rem;
      text-transform: lowercase;
    }
  }

  & input {
    padding: 1.2rem 0.8rem;
    border-radius: 0;
  }
}

.login_page__sign_in_action {
  & button {
    display: inline-block;
    margin-bottom: 10px;
    padding: 2rem 8rem;
  }

  & a {
    display: inline-block;
    font-family: "Lato Light Italic";
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: capitalize;
    color: $orange;
    position: relative;

    &::after {
      content: "";
      min-width: 0%;
      height: 1px;
      background: $orange;

      position: absolute;
      bottom: 0;
      left: 0;
      transition: min-width 0.3s ease-in-out;
    }

    &:hover {
      &::after {
        min-width: 100%;
      }
    }
  }
}
