@import "../../../../../../styles/colors.scss";

.dropdown_list__link {
  cursor: pointer;
  font-weight: 400;
  color: $secondary;
  white-space: nowrap;

  transition: color 0.2s ease-in-out;

  &:hover {
    color: $hoverBlue;
  }
}
