@import "../../../../styles/colors.scss";
@import "../../../../styles/mixins.scss";

.shop_trends {
  padding: 50px 0;
  font-size: 1.2rem;

  @include border-top-decor-componnent;
  @include border-bottom-decor-componnent;
}

.shop_trends__list {
  display: flex;
  margin-bottom: 50px;
}

.shop_trends__list_item {
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 40px;

  transition: color 0.2s ease-in-out;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    color: $hoverBlue;
  }
}

.shop_trends__content {
  display: flex;
  flex-wrap: wrap;
}
