@import "../../../../styles/colors.scss";

.trends_list {
  min-width: 25%;
  height: 500px;
  margin-bottom: 30px;
  position: relative;
  z-index: 3;

  &:nth-of-type(3),
  &:nth-of-type(4) {
    width: 50%;

    .trends_list__item {
      max-height: 700px;
      transition: box-shadow 0.2s ease-in-out, max-height 0.2s ease-in-out;

      &:hover {
        max-height: 1100px;
      }
    }

    .trends_list__img {
      height: 700px;
    }
  }

  &:nth-of-type(3) {
    .trends_list__wrapper {
      padding-right: 0;
    }
  }

  &:nth-of-type(4) {
    height: 700px;
  }

  &:nth-of-type(4),
  &:nth-of-type(5),
  &:nth-of-type(6) {
    margin-bottom: 0;
    align-self: flex-end;
    z-index: 2;
  }

  &:last-of-type {
    .trends_list__wrapper {
      padding-right: 0;
    }
  }
}

.trends_list__wrapper {
  width: 100%;
  padding-right: 30px;
  position: absolute;
}

.trends_list__item {
  max-height: 500px;
  cursor: pointer;
  overflow: hidden;

  border-radius: 10px;
  background: $tertiary;

  transition: box-shadow 0.2s ease-in-out, max-height 0.2s ease-in-out;

  &:hover {
    max-height: 900px;
    box-shadow: 0 0 20px $hoverBoxShadow;

    .trends_list__img_other {
      opacity: 1;
    }

    .trends_list__img::after {
      background: $hoverBoxShadow;
    }

    .trends_list__description {
      transform: translateY(0);
    }
  }
}

.trends_list__img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  background: #8a8686;
  overflow: hidden;

  position: relative;
  z-index: 1;

  &::after {
    content: "";
    width: 100%;
    height: 3px;

    background: transparent;
    transition: background-color 0.2s ease-in-out;

    position: absolute;
    bottom: 0;
  }
}

.trends_list__img_other {
  position: absolute;
  bottom: 10px;
  right: 10px;

  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.product_card__item__wrapper_img_other {
  margin-bottom: 10px;
  width: 50px;
  height: 50px;

  cursor: pointer;
  background: #8a8686;
  border: 1px solid $boxShadow;

  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 0 15px $hoverBoxShadow;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.trends_list__img_price {
  font-size: 2.1rem;
  color: $secondary;

  position: absolute;
  top: 15px;
  left: 15px;
}

.trends_list__img_price_old {
  margin-right: 10px;
  text-decoration: line-through;
}

.trends_list__description {
  padding: 20px 50px;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background: $tertiary;

  transition: transform 0.35s ease-in-out;

  position: relative;
  transform: translateY(-100%);
}

.trends_list__description_title {
  margin-bottom: 20px;
}

.trends_list__description_description {
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: none;
}

.trends_list__description_action {
  display: flex;
  justify-content: space-around;
}
